body {
  background: rgb(128, 88, 88);
  color: white;
  margin: 0;
  transition: .5s;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  font-size: 10em;
  font-family: monospace;

  cursor: pointer;
  user-select: none;

  overflow: hidden;
}

#noteLabel {
  user-select: none;
}
